*{
  margin: 0px;
  padding:0px;
}
h1{
  color: blue;
}
#wrapper{
  width:970:px;
}
#main{
  width:800px;
  background-color: gray;
}
ul{
  text-decoration: none;
}
li{
  text-decoration-color: red;
}
